body {
    font-family: "Open Sans", "微软雅黑", sans-serif;
}

.main {
    margin-bottom: 10%;
}

article {
    text-align: center;
}

article p {
    color: #888;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

button.btn {
    float: none;
}

.countdown p {
    font-size: 180px;
}

.countdown p.alert {
    color: #DF6161;
}

.lottery {
    font-size: 160px;
}

.lottery p {
    height: 1em;
}

aside {
    position: fixed;
    background-color: #FFF;
    bottom: 0;
    padding-bottom: 3em;
    padding-top: 3em;
    width: 100%;
    text-align: center;
}

aside .nav-pills {
    padding-left: 1em;
    padding-right: 1em;
}

ul.nav-pills li {
    width: 25%;
    margin: 0;
    text-transform: uppercase;
}

ul.nav a {
    font-size: 12px;
    border-radius: 0;
    cursor: pointer;
}