<!DOCTYPE html>
<html lang="zh-CN" ng-app="wedding">
    <head>
        <meta charset="UTF-8"/>
        <title>DEMO</title>
        <link rel='stylesheet' href='./css/bootstrap.css'/>
        <link rel='stylesheet' href='./css/style.css'/>
    </head>

    <body ng-controller="BodyCtrl" ng-keypress="listenKeyPress($event)">
        <div class="main">
            <article class="countdown" ng-controller="CountdownCtrl">
                <p ng-bind="format(duration)"></p>
                <button class="col-xs-4 btn btn-lg btn-danger" ng-click="start()" ng-disabled="disabled">开始</button>
                <button class="col-xs-4 btn btn-lg btn-success" ng-click="next()" ng-show="done">Next</button>
            </article>

            <article class="lottery" ng-controller="LotteryCtrl">
                <p>{{current}}</p>
                <button class="col-xs-4 btn btn-lg btn-success" ng-click="lottery($event)" ng-disabled="disabled">开始抽奖</button>
            </article>
        </div>

        <aside ng-controller="AsideCtrl">
            <ul class="nav nav-pills">
                <li ng-repeat="m in modules" ng-class="{'active': selected == $index}" id="nav-{{m.id}}">
                    <a ng-click="select($index)">{{m.text}}</a>
                </li>
            </ul>
        </aside>

        <script src="./js/angular.js"></script>
        <script src="./js/angular-route.js"></script>
        <script src="./js/underscore.js"></script>
        <script src="./js/event.js"></script>
    </body>
</html>